@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  background-color:#e0e0e0 ;
}

.neumorphic-input-auth{
  border-radius: 1px;
  background: #cddaea;
  box-shadow: inset 10px 10px 20px #b4c0ce,
              inset -10px -10px 20px #e6f4ff;
  width: 450px;
  height: 50px;
  padding-left: 10px;
 
}

.neumorphic-auth{
border-radius: 25px;
background: #cddaea;
box-shadow:  41px 41px 82px #a4aebb,
             -41px -41px 82px #a4aebb;
}

.neumorphic{
border-radius: 20px;
background: #e0e0e0;
box-shadow:  11px 11px 27px #9d9d9d,
             -11px -11px 27px #ffffff;
}

.neumorphic-rounded{
  border-radius: 50%;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  15px 15px 30px #7d7d7d,
               -15px -15px 30px #ffffff;
}

.neumorphic-navBtn{
  border-radius: 29px;
  background: #e0e0e0;
  box-shadow:  -8px 8px 16px #a1a1a1,
               8px -8px 16px #ffffff;
}


.adminLayout{
  padding: 15px;
  
}