@tailwind base;
@tailwind components;
@tailwind utilities;


.neumorphic-input-auth{
  border-radius: 1px;
  background: #cddaea;
  box-shadow: inset 10px 10px 20px #b4c0ce,
              inset -10px -10px 20px #e6f4ff;
  width: 450px;
  height: 50px;
  padding-left: 10px;
 
}

.neumorphic-auth{
border-radius: 25px;
background: #cddaea;
box-shadow:  41px 41px 82px #a4aebb,
             -41px -41px 82px #a4aebb;
}

